@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body,
  #root {
    height: 100vh;
    width: 100vw;
  }
}
/* body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

textarea::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar {
  width: 6px;
}
.scroll::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 999px;
}
.scroll::-webkit-scrollbar-track {
  background: transparent;
}
.scroll {
  padding-right: 0.5rem;
}
.scroll {
  scrollbar-gutter: stable;
}
.scroll {
  scrollbar-gutter: stable both-edges;
}
